body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(140px, auto);
    background-image: url('img/landscape-1844226.svg');
    color: #ffff02;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
    font-size: 55px;
}
.zip{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.feel{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.entry{
    background: rgba(59, 74, 107, 0.651);
    margin-bottom: 10px;
}

#entryHolder{
    color: #000000;
}

.title{
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 40px;
    width: 200px;
    background-color: white;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #888888;

}

button{
    width: 400px;
    height: 100px;
    margin: 10px 0 0 10px;
    background: #3b4a6b;
    color: #e92d2d;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 3px 1px #444;
}
button:active{
    box-shadow: 0px 0px 0px #444;
}
h1{
    font-size: 36px;
}

textarea{
    width: fit-content;
    height: 150px;
    background:#ffffff;
    color: #000000;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px #888888;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #95948b; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #95948b; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #95948b; 
    font-family: 'Oswald', sans-serif;

} 